In [1]:
import pandas as pd

In [4]:
DATASET_DIR = "out/"

In [5]:
df = pd.read_csv(DATASET_DIR + "lista_sbarcato_per_porto_cleaned.csv", delimiter=',')

In [6]:
df.head(10)

,id,data_sbarco,nome_porto,latitudine,longitudine,nome_specie,quantita
0,0,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Sillaginidae,3.0
1,1,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Seppia comune,2.0
2,2,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Sogliola,4.0
3,3,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Merluzzo argentato - Nasello,3.0
4,4,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Mazzancolla,2.0
5,5,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Rombo chiodato,1.0
6,6,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Suacia,4.0
7,7,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,Capone gorno,4.0
8,8,2019-01-15T11:15:00.000Z,PORTO GARIBALDI,44.666668,12.233334,"Pannocchia, Canocchia",104.0
9,9,2019-04-08T16:05:00.000Z,VIAREGGIO,43.866665,10.216666,Sillaginidae,3.7

In [7]:
df.shape

(626117, 7)