In [1]:
import pandas as pd

In [2]:
DATASET_DIR = "pre/"

In [3]:
df = pd.read_csv(DATASET_DIR + "lista_sbarcato_per_porto_cleaned_tot.csv", delimiter=',')

In [4]:
df.head(10)

,Id,Data,Nomeporto,Lat,Lon,Specie,Quantity
0,1,05-Mar-2019T02:39:00,ANCONA,43.616665,13.500000,ALTRI SGOMBRI,10.0
1,2,08-Apr-2019T16:00:00,ANZIO,41.450000,12.616667,ALTRI SGOMBRI,211.6
2,3,27-May-2019T06:06:00,BAGNARA,38.468056,16.370832,ALTRI SGOMBRI,20.0
3,4,17-May-2019T14:01:00,BELLARIA,44.150000,12.466666,ALTRI SGOMBRI,73.0
4,5,03-May-2019T12:12:00,BOSA,40.283333,8.500000,ALTRI SGOMBRI,25.0
5,6,12-Mar-2019T03:38:00,BRINDISI,40.616665,17.916666,ALTRI SGOMBRI,5.0
6,7,28-May-2019T20:40:00,CALASETTA,39.033333,8.366667,ALTRI SGOMBRI,15.0
7,8,21-May-2019T16:30:00,CASTELLAMMARE DEL GOLFO,38.016666,12.866667,ALTRI SGOMBRI,22.0
8,9,23-May-2019T21:47:00,CESENATICO,44.183334,12.400000,ALTRI SGOMBRI,181.0
9,10,02-May-2019T23:17:00,CHIOGGIA,45.216667,12.283333,ALTRI SGOMBRI,9.0

In [5]:
df.shape

(11381, 7)

In [6]:
df_10 = df.loc[df['Quantity'] > 200] ###### Diminuire numero di righe (++++++++++++++)

In [7]:
df_10.shape

(3952, 7)

In [14]:
df_10.tail()

,Id,Data,Nomeporto,Lat,Lon,Specie,Quantity
11360,11361,30-May-2019T17:37:00,La Caletta di Siniscola,41.020832,10.251389,Zerro musillo,1467.0
11364,11365,30-Mar-2019T02:19:00,ORISTANO,39.900000,8.583333,Zerro musillo,465.0
11371,11372,24-May-2019T19:25:00,PORTOSCUSO,39.200000,8.366667,Zerro musillo,2783.0
11377,11378,21-May-2019T04:35:00,TERRASINI,38.133335,13.066667,Zerro musillo,266.0
11378,11379,29-May-2019T23:36:00,TRAPANI,38.016666,12.466666,Zerro musillo,330.0

In [18]:
df_10 = df_10.drop('Data', axis=1)

In [19]:
df_10.to_csv('out/lista_sbarcato_per_porto_cleaned_tot_postproc.csv', header=None, index=False)

In [ ]:
df_porti = df[['Nomeporto', 'Lat', 'Lon']].drop_duplicates()

In [ ]:
df_porti.to_csv('out/porti_italiani.csv', header=None, index=False)