In [1]:
import pandas as pd

In [2]:
DATASET_DIR = "data/coltivazioni/"

In [3]:
df = pd.read_csv(DATASET_DIR + "DCSP_COLTIVAZIONI_26082019111726834.csv", delimiter=',')

In [4]:
df.head(10)

,ITTER107,Territorio,TIPO_DATO5,Tipo variabile,AGRI_MADRE,Tipo di coltivazione,TIME,Seleziona periodo,Value
0,IT,Italia,TP_QUIN_EXT,produzione totale - quintali,RADIINGRE,radicchio in serra,2017,2017,66494
1,IT,Italia,TP_QUIN_EXT,produzione totale - quintali,RADIINGRE,radicchio in serra,2018,2018,73726
2,IT,Italia,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2017,2017,64383
3,IT,Italia,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,71530
4,IT,Italia,ART_ARE,superficie totale - are,RADIINGRE,radicchio in serra,2017,2017,21904
5,IT,Italia,ART_ARE,superficie totale - are,RADIINGRE,radicchio in serra,2018,2018,24098
6,ITCD,Nord,TP_QUIN_EXT,produzione totale - quintali,RADIINGRE,radicchio in serra,2017,2017,35415
7,ITCD,Nord,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2017,2017,35082
8,ITCD,Nord,ART_ARE,superficie totale - are,RADIINGRE,radicchio in serra,2017,2017,11738
9,ITC1,Piemonte,TP_QUIN_EXT,produzione totale - quintali,RADIINGRE,radicchio in serra,2017,2017,1565

In [5]:
df.shape

(65728, 9)

In [6]:
df_2018 = df.loc[df['TIME'] == 2018]

In [7]:
df_2018.shape

(32151, 9)

# Creazione dati produzione 2018

In [8]:
df_produzione_totale_2018 = df_2018.loc[df_2018['Tipo variabile'] == "produzione raccolta - quintali "]

In [9]:
df_produzione_totale_2018.shape

(8601, 9)

In [10]:
df_produzione_totale_2018.head()

,ITTER107,Territorio,TIPO_DATO5,Tipo variabile,AGRI_MADRE,Tipo di coltivazione,TIME,Seleziona periodo,Value
3,IT,Italia,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,71530
12,ITC1,Piemonte,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,1692
18,ITC16,Cuneo,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,842
24,ITC17,Asti,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,850
30,ITC3,Liguria,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,600

# Export dati produzione per regione (non usati)

In [ ]:
df_produzione_totale_per_ragione_2018 = df_produzione_totale_2018.loc[df_produzione_totale_2018['ITTER107'].str.contains(r'^IT[A-Z][0-9]$')]

In [ ]:
df_produzione_totale_per_ragione_2018.shape

In [ ]:
df_produzione_totale_per_ragione_2018

In [ ]:
#df_produzione_totale_per_ragione_2018.to_csv('out/produzione_totale_per_ragione_2018_cleaned.csv')

# Export dati produzione per provincia

In [11]:
df_produzione_totale_per_provincia_2018 = df_produzione_totale_2018.loc[df_produzione_totale_2018['ITTER107'].map(str).apply(len) == 5]

In [12]:
df_produzione_totale_per_provincia_2018.shape

(6589, 9)

In [13]:
df_produzione_totale_per_provincia_2018.head()

,ITTER107,Territorio,TIPO_DATO5,Tipo variabile,AGRI_MADRE,Tipo di coltivazione,TIME,Seleziona periodo,Value
18,ITC16,Cuneo,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,842
24,ITC17,Asti,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,850
36,ITC34,La Spezia,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,600
48,ITC41,Varese,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,30
54,ITC45,Milano,HP_Q_EXT,produzione raccolta - quintali,RADIINGRE,radicchio in serra,2018,2018,4030

In [14]:
qta_min = 2000
df_produzione_totale_per_provincia_2018 = df_produzione_totale_per_provincia_2018.loc[df_produzione_totale_per_provincia_2018['Value'] > qta_min]
# diminuire numero di righe, temporaneo

In [15]:
df_produzione_totale_per_provincia_2018.shape

(3812, 9)

In [16]:
export_col = ['ITTER107', 'Territorio', 'Tipo di coltivazione', 'Value']

In [17]:
df_produzione_totale_per_provincia_2018[export_col].to_csv('out/produzione_totale_per_provincia_2018_cleaned_postproc.csv', header=None, index=False)